Main Courses
<% @dishes.each do |dish| %>
<%= dish.name %>: $<%= dish.price %>
<form class="form" action="index.html" method="post">
  <input type="button" name="addto" id="addto" value="Add to" />
  <input type="button" name="addto" id="addto" value="CHECKOUT" />
</form>
<br />
<% end %>
