<!DOCTYPE html>
<html>
<head>
<title>Testing button</title>
</head>
<body>
  <div>
    <button type="button" id="Add_button">Add</button>
    <span id="message_added"></span>
  </div>
</body>
</html>
