<!DOCTYPE html>
<html>
<head>
<title>Testing button</title>
</head>
<body>
  <div>
    <form method="post" action="/Add-to-basket">
    <input class="btn btn-primary" type="submit" value="Add">
    </form>
  </div>
</body>
</html>
